<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.scss">
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <title>app</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href=""> Inicio </a>
            <a href="lista"  > Pilotos </a>
            <a href="login"  > login </a>
            <a href="info"  > info </a>
            <a href="contacto" > Contactanos </a>
        </nav>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-user"></i>  
        </div>
        </header>
       <div class="background"></div>
        <section class="home">
            <div class="content">
                <a href="#" class="logo"> <i class="fa-solid fa-paper-plane"></i>Fórmula 1</a>
        
        <router-outlet></router-outlet>
   

