<h1></h1>
<nav>
  <a routerLink="/home"></a>
</nav>
<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.scss">
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <title>login3</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="home"> Inicio </a>
            <a href="https://www.formula1.com/en/drivers.html"  target="_blank" rel="noopener noreferrer"> Pilotos </a>
            <a href="login"  target="_blank" rel="noopener noreferrer"> login </a>
            <a href="https://tickets.formula1.com/es/t-101-contact-us"  target="_blank" rel="noopener noreferrer"> Contáctanos </a>
        </nav>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-user"></i>  
        </div>
    </header>
    <div class="background"></div>
        <section class="home">
            <div class="content">
                <a href="#" class="logo"> <i class="fa-solid fa-paper-plane"></i>Fórmula 1</a>
                <h2> Bienvenido!</h2>
                <h3> Página Informativa de la Fórmula 1 </h3>
               <pre> Todo lo que necesitas saber sobre la Fórmula 1 lo encontrás acá </pre>
               <div class="icon">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-github"></i>
               </div>    

