<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.scss">
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <title>home</title>
</head>
<body>
        <section class="home">
            <div class="content">
                <a href="#" class="logo"> <i class="fa-solid fa-paper-plane"></i>Fórmula 1</a>
                <h2> Bienvenido!</h2>
                <h3> Página Informativa de la Fórmula 1 </h3>
               <pre> Todo lo que necesitas saber sobre la Fórmula 1 lo encontrás acá </pre>
               <div class="icon">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-github"></i>
               </div>   
               </div> 
        </section>
</body>
</html>